// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ECECEB !default;
$header-bg-color: #027fa6 !default;
$header-bg-color-secondary: #fa5528 !default;
$background-color: #ECECEB !default;

// Text
$section-headings-color: #fa5528 !default;
$body-text-color: #6B778D !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #988181 !default;

// Code
$code-bg-color: #eaeaea !default;
$code-text-color: #825656 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
$post-border-color: #D3D3D3;

// Buttons
$button-text-color: #818181;
$menu-button-color: #D3D3D3;


// 15133C 73777B EC994B F1EEE9
// ECECEB F9A828 07617D 2E383F