// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ECECEB !default;
$header-bg-color: #5C2E7E !default;
$header-bg-color-secondary: #8BBCCC !default;
$background-color: #F1EEE9 !default;

// Text
$section-headings-color: #5C2E7E !default;
$body-text-color: #0F3460 !default;
$body-link-color: #8BBCCC !default;
$blockquote-text-color: #9F73AB !default;

// Code
$code-bg-color: #d7d7d7 !default;
$code-text-color: #5C2E7E !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
$post-border-color: #D3D3D3;

// Buttons
$button-text-color: #818181;
$menu-button-color: #D3D3D3;


// 15133C 73777B EC994B F1EEE9
// ECECEB F9A828 07617D 2E383F