// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #c30000 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #d02d2d !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #988181 !default;

// Code
$code-bg-color: #eaeaea !default;
$code-text-color: #825656 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
$post-border-color: #D3D3D3;

// Buttons
$button-text-color: #818181;
$menu-button-color: #D3D3D3;