<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/assets/images/logo/bar-logo-tag.png">
    {% include head-custom.html %}
</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>
<header>
    <div style="float: right;margin-top:10px;">
        <a style="margin-right: 10px;" href="/" class="menu-button">blog</a>
        <a style="margin-right: 20px;" href="/about" class="menu-button">about</a>
    </div>
    <div class="page-header" role="banner">

        <a  class="header-link" href="/">
            <img src="/assets/images/software_word.png" height="80"/>
            <img src="/assets/images/development_word.png" height="80"/>
            <img src="/assets/images/adventures_word.png" height="80"/>
            <h2 class="project-tagline">{{ site.blog_description | default: site.github.project_tagline }}</h2>
        </a>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}
    </div>
</header>
<main id="content" class="main-content" role="main">
    {{ content }}
</main>

<footer class="site-footer">
    <div class="parent">
        <div style="margin-top: 10px;">
            <a  href="https://linkedin.com/in/nataliia-dziubenko-341919b8">
                <img class="contact-image" src="/assets/images/contacts/linkedin.svg" width=40px">
            </a>
            <a  href="https://twitter.com/natadziubenko">
                <img class="contact-image" src="/assets/images/contacts/twitter.svg" width=40px">
            </a>
            <a  href="https://github.com/smthelusive">
                <img class="contact-image" src="/assets/images/contacts/github.svg" width=40px">
            </a>
            <a  href="https://www.youtube.com/c/itsworthexploring">
                <img class="contact-image" src="/assets/images/contacts/youtube.svg" width=40px">
            </a>
        </div>
        <div style="margin-top: 10px; padding-bottom: 10px;">
            <span>Nataliia Dziubenko  •  2022</span>
        </div>
    </div>
</footer>
</body>
</html>