<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/assets/images/logo/logo-gradient-duke-3.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo/logo-gradient-duke-3.png">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">
    {% include head-custom.html %}
</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>
<header>
    <div style="float: right;margin-top:10px;">
        <a style="margin-right: 10px;" href="/" class="menu-button">blog</a>
        <a style="margin-right: 10px;" href="/talks" class="menu-button">talks</a>
        <a style="margin-right: 10px;" href="/comics" class="menu-button">comics</a>
        <a style="margin-right: 10px;" href="/about" class="menu-button">about</a>
<!--        <a style="margin-right: 10px;" href="/resources" class="menu-button">resources</a>-->
    </div>
</header>
{{ content }}
    <div class="parent">
        <div style="margin-top: 10px;">
            <a  href="https://linkedin.com/in/nataliia-dziubenko-341919b8">
                <img class="contact-image" src="/assets/images/contacts/linkedin.svg" width=40px">
            </a>
            <a  href="https://twitter.com/worth_exploring">
                <img class="contact-image" src="/assets/images/contacts/twitter.svg" width=40px">
            </a>
            <a  href="https://github.com/smthelusive">
                <img class="contact-image" src="/assets/images/contacts/github.svg" width=40px">
            </a>
        </div>
        <div style="margin-top: 10px; padding-bottom: 10px;color:#ECECEB;opacity: 0.7;">
            <span>Nataliia Dziubenko  •  2020 - 2024</span>
        </div>
    </div>
</body>
</html>